@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

:root {
    --clr-base: #555;
    --clr-base-100: #f1f1f1;
    --clr-base-400: #555;
    --clr-base-800: #000;
    --clr-yellow: #f9f871;
    --clr-yellow-100: #fffbe6;
    --clr-yellow-800: #8b6f00;
    --clr-blue: #00a2fc;
    --clr-blue-100: #e2f8ff;
    --clr-blue-400: #61dafb;
    --clr-blue-700: #0064df;
    --clr-blue-800: #00258c;
}
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Parkinsans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
    padding-bottom: 100px;
}

.blue-highlight {
    color: var(--clr-blue-400);
}

a {
    text-decoration: none;
    color: var(--clr-yellow);
}

a:hover {
    text-decoration: underline;
}

header {
    display: flex;
    justify-content: space-between;
    margin: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 1440px;
}

header .logo-anchor {
    display: flex;
    align-items: center;
    padding: 10px;
    font-weight: 600;
    color: var(--clr-base-800);
}

header .logo-anchor:hover {
    text-decoration: none;
}

header .logo-anchor .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    font-size: 32px;
    color: var(--clr-base-100);
    background-color: var(--clr-blue);
}

header .logo-anchor .logo img {
    max-width: 100%;
}

header .logo-anchor .logo-text {
    flex: 1;
}

header .nav-bar {
    display: flex;
    align-items: center;
}

header .nav-bar ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}

header .nav-bar ul li {
    display: inline-block;
}

header .nav-bar ul li a {
    display: inline-block;
    padding: 10px 20px;
    color: var(--clr-base);
}

header .nav-bar ul li a:hover {
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--clr-base-100);
}

header .nav-bar ul li a.button {
    color: var(--clr-blue-100);
}

header .nav-bar .mobile-nav-toggle {
    display: none;
    padding: 10px;
    color: var(--clr-base-800);
}

.container {
    max-width: 1440px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 30px;
}

.button {
    display: inline-block;
    padding: 10px 30px;
    color: var(--clr-blue-100);
    background-color: var(--clr-blue-800);
    border-radius: 30px;
    transition: ease 0.3s all;
}

.button:hover {
    text-decoration: none;
    background-color: var(--clr-blue-400) !important;
    border-radius: 30px !important;
}

h1 {
    font-size: 64px;
    line-height: 1;
    margin-bottom: 10px;
}

h1 small {
    display: block;
    font-size: 44px;
    font-weight: 100;
}

.hero {
    display: flex;
    color: var(--clr-base-100);
}

.hero .hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 30px;
    background-color: var(--clr-blue-700);
    border-radius: 30px;
}

.hero .hero-left .cta {
    margin-top: 20px;
    margin-bottom: 10px;
}

.hero .hero-left .cta a {
    margin-right: 10px;
    margin-bottom: 10px;
}

.hero .hero-left .social-links a:hover {
    text-decoration: none;
}

.hero .hero-right {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex: 1;
    padding: 0 30px;
    background-color: var(--clr-blue);
    border-radius: 30px;
}

.hero .hero-right img {
    margin-top: -30px;
    margin-bottom: -30px;
    max-width: 420px;
}

.logos {
    background-color: var(--clr-base-100);
    border-radius: 30px;
    padding: 30px 0;
}

.logos .marquee {
    width: 100vw;
    max-width: 100%;
    height: 128px;
    overflow: hidden;
    position: relative;
}

.logos .marquee .track {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 40s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

h2 {
    margin-bottom: 10px;
    padding: 30px;
    font-size: 64px;
    line-height: 1;
    text-align: center;
    color: var(--clr-base-800);
}

h2 small {
    display: block;
    font-weight: 100;
    font-size: 0.5em;
    color: var(--clr-base);
}

h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 20px;
    color: var(--clr-base-800);
}

.skills .holder-blue {
    display: flex;
    padding: 30px;
    background-color: var(--clr-blue-100);
    border-radius: 30px;
}

.skills .holder-blue .left-column {
    flex: 1;
}

.skills .holder-blue .left-column ul {
    list-style: none;
    gap: 10px;
    margin-right: 100px;
    margin-bottom: 20px;
}

.skills .holder-blue .left-column ul li {
    display: inline-block;
    background-color: var(--clr-blue-400);
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 30px;
}

.skills .holder-blue .right-column {
    flex: 1;
}

.skills .holder-blue .right-column p {
    margin-bottom: 20px;
}

.work-experience .jobs {
    display: flex;
    gap: 30px;
}

.work-experience .jobs article {
    background-color: var(--clr-base-100);
    padding: 30px;
    border-radius: 30px;
    flex: 1;
}

.work-experience .jobs article figure {
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;
    border-radius: 30px;
}

.work-experience .jobs article figure img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
}

.work-experience .jobs article figure figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--clr-base-100);
    text-align: center;
    font-weight: 300;
    opacity: 0.5;
    transition: ease 0.3s all;
} 

.work-experience .jobs article figure:hover figcaption {
    opacity: 1;
}

.work-experience .jobs article h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.work-experience .jobs article div {
    font-weight: 600;
    margin-bottom: 5px;
    color: var(--clr-base-800);
}

.work-experience .jobs article p {
    margin-bottom: 10px;
}

@media (max-width: 1440px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .logos {
        border-radius: 0;
    }
}

@media (max-width: 1024px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-size: 48px;
    }
    
    .hero {
        flex-direction: column;
    }

    h2 {
        font-size: 48px;
    }

    .skills .holder-blue {
        flex-direction: column;
    }

    .work-experience .jobs {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    header .nav-bar {
        margin-top: 10px;
        width: 100%;
    }

    header .nav-bar ul {
        display: none;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    header .nav-bar ul a {
        width: 100%;
    }

    header .nav-bar ul.active {
        display: flex;
    }

    header .nav-bar .mobile-nav-toggle {
        display: inline-block;
        position: absolute;
        top: 30px;
        right: 20px;
    }
}